In [ ]:
# VARIABLES: int

# Assign integer to variable, then print, show type()
a = 1
print(a)
print(type(a))

In [ ]:
# What is a variable? Box analogy

In [ ]:
# VARIABLES: float

# Assign float to different variable, then print, show type()
b = 2.3
print(b)
print(type(b))

In [ ]:
# INTEGERS AND FLOATS

# Demonstrate changing types when first 
# int then float are assigned to SAME variable
a = 1
print(a)
print(type(a))
a = 2.1
print(a)
print(type(a))

In [ ]:
# Assigning two variables at the same time

# a = b = 3

In [ ]:
# STRINGS
# Assign to variable and print type

In [ ]:
# Strings containing single and double quotes
# my_string = '...'
# print(my_string)

In [ ]:
# Concatenating strings

print('an ' + 'apple')

In [ ]:
# Special characters: new line and tab

print('Hello' + '\n' + 'my friend')
# print('\t' + 'Indented text')

In [ ]:
# CONVERTING BETWEEN TYPES
# 1) Float to string

a_float = 3.7
print(a_float)
print(type(a_float))

In [ ]:
c = 'Final result = ' + a_float

In [ ]:
a_string_representation_of_a_float = str(a_float)
print(a_string_representation_of_a_float)
print(type(a_string_representation_of_a_float))

In [ ]:
c = 'Final result = ' + a_string_representation_of_a_float
print(c)

In [ ]:
# CONVERTING BETWEEN TYPES
# 2) String to float

a_string_representation_of_a_float = '3.7'
print(a_string_representation_of_a_float)
print(type(a_string_representation_of_a_float))

In [ ]:
print(3.1 + a_string_representation_of_a_float)

In [ ]:
print(3.1 + float(a_string_representation_of_a_float))

In [ ]:
# Printing without converting types
# Show string, float, integer on same line

In [ ]:
# VARIABLES: bool

# Assign True to variable.
# print out value
# print out the data type
# Change True to False

In [ ]:
print(3 > 4)
print(type(3 > 4))

In [ ]:
# VARIABLES: complex numbers
a = 1.5 + 3j
print(a)
print(type(a))

In [ ]:
print(a.real)
print(a.imag)