In [4]:
# FOR LOOPS AND RANGES

In [13]:
# Write for loop with range(6)
# Modify to range(1, 6)
# Modify to range(1, 6, 2)

for i in range(1, 6, 2):
    print(i)

1
3
5

In [15]:
# Descending numbers, 5 to 1

for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

In [16]:
# It does not work for floats

for i in range (1, 4, 0.5):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [18]:
# One way round this is to convert to float inside loop

for i in range(1, 8):
    print(i/2)

0.5
1.0
1.5
2.0
2.5
3.0
3.5

In [55]:
# We can nest for loops, like this:

for i in range(0, 40, 10):
    for j in range(1, 4):
        print(i + j)

1
2
3
11
12
13
21
22
23
31
32
33

In [56]:
# How do we print in multiple columns?

help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [67]:
# Printing multiple columns
# 
# Modify the following code to print
# multiple columns using the 
# end= parameter of the print statement

for i in range(0, 40, 10):
    for j in range(1, 4):
        print(i + j)

1
2
3
11
12
13
21
22
23
31
32
33
1 2 3
11 12 13
21 22 23
31 32 33

In [68]:
# We can improve the formating using 
# str.rjust() (Right justify)
# str.ljust() (Left justify)

for i in range(0, 40, 10):
    for j in range(1, 4):
        result_int = i + j
        result_str = str(result_int)
        result_formatted_str = result_str.rjust(5)
        print(result_formatted_str, end='')
    print()

    1    2    3
   11   12   13
   21   22   23
   31   32   33

In [ ]:
# Exercise - print times table